# IDE files and folders
.bloop
.metals
.vscode

# Output files and folders
out
verilator
data
results
VexRiscv*.v
instructions_s.csv
*.jar
cores

# Testing ground
Tests
Scripts

# User's files
MyMakefile.mk
Config.json
